.main{
    padding: 20px;
}
.search{
    margin-top: 20px;
   display: flex;
   align-items: center;
    justify-content: center;
}
.input{
    width: 200px ;
    height: 40px;
    margin: 0 10px;
    outline: grey;
    border: 1px grey;
    box-sizing: border-box;
    border-radius: 2px;
    padding-left:10px;
    font-size: 20px;
    color: rgb(41, 41, 221);
    text-decoration: none;
}
.submit{
    width:60px;
    height:40px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(41, 41, 221);
    border-radius: 2px;
    cursor: pointer;
}
.search_icon{
    color: white;
}
.submit::selection{
    color: rgb(41, 41, 221);
}